# Challenge - Tableau

## Scope
The New York's Marathon is considered one of the most challenging races around the world. As it is one the 6 major marathons in the world, it is one the main events in the city every year.

The tablue file shared on link below includes different visualizations to analise the behaviour of the New York Citi Bike usage on  the day of the New York Marathon for 2022. The dashboards and Story pretend to compare what is the difference between a normal Sunday compare to thr Sunday of the NYC Marathon

The was developed on Tableau and is public on the following link:
https://public.tableau.com/views/Challenge_Tableau_17009086779720/NYCMarathon?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link

## Results
- One of the main conclusions of the analisis is that the New York Citi Bike shows an increment of 47% the day of the NYC Marathon. Therefore, it is needed to increment the availability of bikes and options the day of the race to supply that demand.

- As it was expected, the nunmber of casual users move from 20% on a normal day, to 30% on the day of the race, showing the nunmber of turists or foreigners that use the system the day of the race. It would be relevant to include some special deals or sales for causal members the day of the Marathon.

- The line chart shows a similar behaviour for the race day and the next Sunday. That shows that the city keeps using the system in the same way independntly of the race. Nevertheless, the frequency is double for the hours of the race (betwwen 9am and 3pm)

## Data engineering
See below some data engineering and cleaning done on the raw data using Python before importing data to Tableau

In [12]:
# Import the modules
import pandas as pd
from pathlib import Path

In [13]:
# Read in the CSV file as a Pandas DataFrame
data_202211 = pd.read_csv(
  Path("Resources/202211-citibike-tripdata.csv/202211-citibike-tripdata.csv"), 
  parse_dates=True, 
  infer_datetime_format=True 
)

#data_202111 = pd.read_csv(
#  Path("Resources/202111-citibike-tripdata.csv/202111-citibike-tripdata.csv"), 
#  parse_dates=True, 
#  infer_datetime_format=True 
#)

C:\Users\oscar\AppData\Local\Temp\ipykernel_8200\1028218933.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data_202211 = pd.read_csv(

In [14]:
data_202211.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2460100,AF0FE64934F2F2FA,classic_bike,2022-11-12 09:57:24,2022-11-12 10:22:05,E 75 St & 3 Ave,6991.12,12 Ave & W 40 St,6765.01,40.771129,-73.957723,40.760875,-74.002777,casual
2460101,8173C49CE0822847,classic_bike,2022-11-01 16:33:08,2022-11-01 16:42:29,Verona Pl & Fulton St,4124.04,Dean St & Franklin Ave,4107.13,40.680356,-73.947679,40.677592,-73.955637,casual
2460102,E1764A36071338B6,classic_bike,2022-11-24 12:28:59,2022-11-24 12:33:56,30 Ave & 41 St,6812.06,31 St & Newtown Ave,6923.20,40.763422,-73.914142,40.767549,-73.920933,member
2460103,77D09FB5866F29B8,classic_bike,2022-11-08 10:50:13,2022-11-08 11:09:42,Jay St & York St,4895.09,Lincoln Pl & Classon Ave,3960.01,40.701214,-73.986726,40.672168,-73.960900,member
2460104,4BF983641958B6F7,classic_bike,2022-11-13 13:03:13,2022-11-13 13:09:27,Harman St & Seneca Ave,5002.09,Wyckoff Ave & Gates Ave,4847.03,40.705770,-73.912920,40.699871,-73.911719,member

In [15]:
# Cleaning the DataFrame
#data_202211 = data_202211[data_202211["started_at"].str.contains("%")]
#data_202211.drop([694057, 713426])
#data_202211.tail()

In [16]:
# Creating a Dataframe with all the data
#union_dfs = pd.concat([data_202211, data_202111])

# Drop the original education column
#data_202211 = data_202211.drop(columns=["start_station_id", "end_station_id", "start_station_name", "end_station_name"])

In [17]:
data_202211['started_at'] = pd.to_datetime(data_202211['started_at'])
data_202211['ended_at'] = pd.to_datetime(data_202211['ended_at'])
data_202211['day'] = data_202211["started_at"].dt.day_name()

In [18]:
data_202211['duration'] = data_202211['ended_at']-data_202211['started_at']
data_202211['minutes'] = data_202211['duration'] / pd.Timedelta(minutes=1)
                             
data_202211.tail(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day,duration,minutes
2460095,94963B69ECB0DA89,classic_bike,2022-11-15 11:08:18,2022-11-15 11:13:32,Warren St & Smith St,4371.01,Court St & Nelson St,4077.07,40.685424,-73.991278,40.676395,-73.998699,member,Tuesday,0 days 00:05:14,5.233333
2460096,F147D9E546548EFE,classic_bike,2022-11-20 01:31:03,2022-11-20 01:41:51,Carroll St & 5 Ave,4060.09,Lincoln Pl & Classon Ave,3960.01,40.675162,-73.981483,40.672168,-73.960900,member,Sunday,0 days 00:10:48,10.800000
2460097,E1FD55497A98AE31,electric_bike,2022-11-29 19:41:27,2022-11-29 19:45:33,30 Ave & 41 St,6812.06,31 St & Newtown Ave,6923.20,40.763422,-73.914142,40.767549,-73.920933,member,Tuesday,0 days 00:04:06,4.100000
2460098,9FDE24266CF02831,classic_bike,2022-11-26 12:25:57,2022-11-26 12:35:00,Carroll St & 5 Ave,4060.09,Schermerhorn St & Hoyt St,4479.10,40.675359,-73.981548,40.688626,-73.985191,member,Saturday,0 days 00:09:03,9.050000
2460099,BB449C7D309AF6F1,electric_bike,2022-11-29 15:53:59,2022-11-29 16:09:06,30 Ave & 41 St,6812.06,21 St & Queens Plaza North,6471.02,40.763422,-73.914142,40.753260,-73.943358,casual,Tuesday,0 days 00:15:07,15.116667
2460100,AF0FE64934F2F2FA,classic_bike,2022-11-12 09:57:24,2022-11-12 10:22:05,E 75 St & 3 Ave,6991.12,12 Ave & W 40 St,6765.01,40.771129,-73.957723,40.760875,-74.002777,casual,Saturday,0 days 00:24:41,24.683333
2460101,8173C49CE0822847,classic_bike,2022-11-01 16:33:08,2022-11-01 16:42:29,Verona Pl & Fulton St,4124.04,Dean St & Franklin Ave,4107.13,40.680356,-73.947679,40.677592,-73.955637,casual,Tuesday,0 days 00:09:21,9.350000
2460102,E1764A36071338B6,classic_bike,2022-11-24 12:28:59,2022-11-24 12:33:56,30 Ave & 41 St,6812.06,31 St & Newtown Ave,6923.20,40.763422,-73.914142,40.767549,-73.920933,member,Thursday,0 days 00:04:57,4.950000
2460103,77D09FB5866F29B8,classic_bike,2022-11-08 10:50:13,2022-11-08 11:09:42,Jay St & York St,4895.09,Lincoln Pl & Classon Ave,3960.01,40.701214,-73.986726,40.672168,-73.960900,member,Tuesday,0 days 00:19:29,19.483333
2460104,4BF983641958B6F7,classic_bike,2022-11-13 13:03:13,2022-11-13 13:09:27,Harman St & Seneca Ave,5002.09,Wyckoff Ave & Gates Ave,4847.03,40.705770,-73.912920,40.699871,-73.911719,member,Sunday,0 days 00:06:14,6.233333

In [19]:
data_202211 = data_202211.loc[data_202211["minutes"]>=1].sort_values(by=['started_at'])
data_202211 = data_202211.loc[((data_202211["start_lat"]) != (data_202211["end_lat"])) & 
                              ((data_202211["start_lng"]) != (data_202211["end_lng"]))]
data_202211 = data_202211.reset_index(drop=True)
print(len(data_202211.index))
data_202211.tail()

2341876

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day,duration,minutes
2341871,4BC86971FC525CFB,classic_bike,2022-11-30 23:59:33,2022-12-01 00:32:00,W 27 St & 7 Ave,6247.06,Broad St & Bridge St,4962.08,40.746647,-73.993915,40.703652,-74.011678,member,Wednesday,0 days 00:32:27,32.450000
2341872,63A959243D6C28E8,classic_bike,2022-11-30 23:59:38,2022-12-01 00:05:15,14 St & 7 Ave,3731.11,21 St & 4 Ave,3668.04,40.663779,-73.983968,40.662584,-73.995554,member,Wednesday,0 days 00:05:37,5.616667
2341873,3D83148332236C60,classic_bike,2022-11-30 23:59:43,2022-12-01 00:06:52,W 56 St & 10 Ave,6955.01,W 50 St & 9 Ave,6854.05,40.768254,-73.988639,40.763605,-73.989180,member,Wednesday,0 days 00:07:09,7.150000
2341874,D526BE6F7EB94DBD,classic_bike,2022-11-30 23:59:44,2022-12-01 00:20:42,Madison St & Clinton St,5190.07,8 Ave & W 24 St,6224.06,40.712441,-73.987602,40.745911,-73.998071,casual,Wednesday,0 days 00:20:58,20.966667
2341875,EF61EB136AD9C55D,classic_bike,2022-11-30 23:59:56,2022-12-01 00:01:33,Melrose St & Broadway,4801.04,Suydam St & Broadway,4689.03,40.697583,-73.935829,40.695440,-73.932230,member,Wednesday,0 days 00:01:37,1.616667

In [20]:
data_202211_1 = data_202211.loc[data_202211["started_at"] <= '2022-11-10 00:00:00']
data_202211_2 = data_202211.loc[(data_202211["started_at"] > '2022-11-10 00:00:00') & 
                                (data_202211["started_at"] <= '2022-11-20 00:00:00')]
data_202211_3 = data_202211.loc[data_202211["started_at"] > '2022-11-20 00:00:00']
data_202211_3.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day,duration,minutes
2341871,4BC86971FC525CFB,classic_bike,2022-11-30 23:59:33,2022-12-01 00:32:00,W 27 St & 7 Ave,6247.06,Broad St & Bridge St,4962.08,40.746647,-73.993915,40.703652,-74.011678,member,Wednesday,0 days 00:32:27,32.450000
2341872,63A959243D6C28E8,classic_bike,2022-11-30 23:59:38,2022-12-01 00:05:15,14 St & 7 Ave,3731.11,21 St & 4 Ave,3668.04,40.663779,-73.983968,40.662584,-73.995554,member,Wednesday,0 days 00:05:37,5.616667
2341873,3D83148332236C60,classic_bike,2022-11-30 23:59:43,2022-12-01 00:06:52,W 56 St & 10 Ave,6955.01,W 50 St & 9 Ave,6854.05,40.768254,-73.988639,40.763605,-73.989180,member,Wednesday,0 days 00:07:09,7.150000
2341874,D526BE6F7EB94DBD,classic_bike,2022-11-30 23:59:44,2022-12-01 00:20:42,Madison St & Clinton St,5190.07,8 Ave & W 24 St,6224.06,40.712441,-73.987602,40.745911,-73.998071,casual,Wednesday,0 days 00:20:58,20.966667
2341875,EF61EB136AD9C55D,classic_bike,2022-11-30 23:59:56,2022-12-01 00:01:33,Melrose St & Broadway,4801.04,Suydam St & Broadway,4689.03,40.697583,-73.935829,40.695440,-73.932230,member,Wednesday,0 days 00:01:37,1.616667

In [10]:
# Exporting to csv files
data_202211_1.to_csv("Resources/raw_data_1.csv")
data_202211_2.to_csv("Resources/raw_data_2.csv")
data_202211_3.to_csv("Resources/raw_data_3.csv")